<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" action="/">
        <input type="text" name="second_name" placeholder="Фамилия"><br>
        <input type="text" name="name" placeholder="Имя"><br>
        <input type="text" name="last_name" placeholder="Отчество"><br>
        <input type="text" name="number" placeholder="Номер телефона"><br>
        <input type="submit" value="отправить">
    </form>
</body>
</html>